In [1]:
# DA Assignment 3
# Abhishek Badgujar
# BE-A-49
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

import os
print(os.listdir())

import warnings
warnings.filterwarnings('ignore')

['.config', 'sample_data']

In [2]:
from google.colab import files
uploaded = files.upload()

Saving 2010-capitalbikeshare-tripdata.csv to 2010-capitalbikeshare-tripdata.csv

In [3]:
data=pd.read_csv("2010-capitalbikeshare-tripdata.csv")

In [4]:
data.head()

   Duration           Start date  ... Bike number  Member type
0      1012  2010-09-20 11:27:04  ...      W00742       Member
1        61  2010-09-20 11:41:22  ...      W00032       Member
2      2690  2010-09-20 12:05:37  ...      W00993       Member
3      1406  2010-09-20 12:06:05  ...      W00344       Member
4      1413  2010-09-20 12:10:43  ...      W00883       Member

[5 rows x 9 columns]

In [5]:
data.describe()

            Duration  Start station number  End station number
count  115597.000000         115597.000000       115597.000000
mean     1254.649956          31266.213431        31268.042250
std      2914.317998            187.645048          186.194316
min        60.000000          31000.000000        31000.000000
25%       403.000000          31110.000000        31111.000000
50%       665.000000          31213.000000        31214.000000
75%      1120.000000          31301.000000        31238.000000
max     85644.000000          31805.000000        31805.000000

In [6]:
data.columns

Index(['Duration', 'Start date', 'End date', 'Start station number',
       'Start station', 'End station number', 'End station', 'Bike number',
       'Member type'],
      dtype='object')

In [7]:
data['Member type'].value_counts()

Member     91586
Casual     24001
Unknown       10
Name: Member type, dtype: int64

In [8]:
data.isnull().sum()

Duration                0
Start date              0
End date                0
Start station number    0
Start station           0
End station number      0
End station             0
Bike number             0
Member type             0
dtype: int64

In [9]:
data.dtypes

Duration                 int64
Start date              object
End date                object
Start station number     int64
Start station           object
End station number       int64
End station             object
Bike number             object
Member type             object
dtype: object

In [ ]:
#Creation of Duration categories and analysing them per Member Type
bins=[0,2500,4000,6000,25000]
group=['Low','Average','High', 'Very high']
data['Duration']=pd.cut(data['Duration'],bins,labels=group)

Duration=pd.crosstab(data['Duration'], data['Member type'])
Duration.div(Duration.sum(1).astype(float), axis=0).plot(kind="bar", stacked=True)
plt.xlabel('Duration')
P = plt.ylabel('Member Type')

#Creation of Duration categories and analysing them per Start Station
bins=[0,2500,4000,6000,25000]
group=['Low','Average','High', 'Very high']
data['Duration']=pd.cut(data['Duration'],bins,labels=group)

Duration=pd.crosstab(data['Duration'], data['Start station'])
Duration.div(Duration.sum(1).astype(float), axis=0).plot(kind="bar", stacked=True)
plt.xlabel('Duration')
P = plt.ylabel('Start station')


#Creation of Duration categories and analysing them per End Station
bins=[0,2500,4000,6000,25000]
group=['Low','Average','High', 'Very high']
data['Duration']=pd.cut(data['Duration'],bins,labels=group)

Duration=pd.crosstab(data['Duration'], data['End station'])
Duration.div(Duration.sum(1).astype(float), axis=0).plot(kind="bar", stacked=True)
plt.xlabel('Duration')
P = plt.ylabel('End station')

#Creation of Duration categories and analysing them per Bike Number
bins=[0,2500,4000,6000,25000]
group=['Low','Average','High', 'Very high']
data['Duration']=pd.cut(data['Duration'],bins,labels=group)

Duration=pd.crosstab(data['Duration'], data['Bike Number'])
Duration.div(Duration.sum(1).astype(float), axis=0).plot(kind="bar", stacked=True)
plt.xlabel('Duration')
P = plt.ylabel('Bike Number')

data.plot(x='Duration', y='Member Type', style='*')  
plt.title('Member Type by Duration')  
plt.xlabel('Duration')  
plt.ylabel('Member Type')  
plt.show() 


#import the library LabelEncoder
from sklearn.preprocessing import LabelEncoder
#Create a list with categorical predictors
cat_var =['Start station','End station','Bike number','Member type']
#Initiate LabelEncoder
le = LabelEncoder() 
#A for loop to transform the categorical values to numerical values
for n in cat_var:
    data[n] = le.fit_transform(data[n])

#Checking for the type of the predictors afterwards
data.dtypes

#Creating variables x is ithe input and Y is the target
X = data.iloc[:, 0:6]

Y = data[data.columns[-1]]


data.head()


#The Model using sklearn

from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

log_reg = LogisticRegression()

X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size=0.3, random_state=3)

log_reg.fit(X_train, Y_train)

from sklearn import metrics

Y_pred = log_reg.predict(X_test)

print(metrics.accuracy_score(Y_test, Y_pred))